# Python
backend/.venv/
**/__pycache__/
**/*.pyc
**/.env
**/*.log

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/pubspec.lock

# IDE / OS
.vscode/
.idea/
.DS_Store
